<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'mainsite/images/icons/favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"  href="{% static 'mainsite/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <style>
    @font-face {
    font-family: "Open-Sans-Bold";
    src: url("{% static 'mainsite/fonts/OpenSans-Bold.ttf' %}") format("truetype");
    }
    @font-face {
    font-family: "Open-Sans";
    src: url("{% static 'mainsite/fonts/OpenSans-Regular.ttf' %}") format("truetype");
    }
    @font-face {
    font-family: "Roboto-Bold";
    src: url("{% static 'mainsite/fonts/Roboto-Bold.ttf' %}") format("truetype");
    }
    .semitransparent-image-behind-text {
            background-image:  url("{% static 'mainsite/images/21.png' %}");

            display: flex;
            background-size: cover;
            background-position: center;
        }
    .w3-bar {
        font-family: 'Open-Sans-Bold';font-size: 22px;
        color: white;

    }
    .w3-right-item {
      padding-top: 20px;
    }

    .contact-button {
    color: #4FB4E6;
}
    </style>

  <body>

    <!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar" style ="padding-top: 20px;">
    <a href="#" class="w3-bar-item w3-button"><img src = "{% static 'mainsite/images/Logo-white.png' %}" width="300" id="toplogo" /></a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small" style ="padding-top: 20px;">
      <a href="#" class="w3-bar-item w3-button topbaritem" style ="padding-top: 20px;">INICIO</a>
      <div class="w3-dropdown-hover w3-hide-small">
        <a href="#" class="w3-button w3-hide-small topbaritem" style ="padding-top: 20px;"><b> QUIÉNES SOMOS</b> <i class="fa fa-caret-down"></i></a>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-round-large">
            <a href="#" class="w3-bar-item w3-button w3-round-large topbaritem" >Valores como Empresa</a>
            <a href="#" class="w3-bar-item w3-button w3-round-large topbaritem">Misión y Visión</a>
          </div>
      </div>
      <div class="w3-dropdown-hover w3-hide-small">
        <a href="#" class="w3-button w3-hide-small topbaritem" style ="padding-top: 20px;"><b> SERVICIOS</b> <i class="fa fa-caret-down"></i></a>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-round-large">
            <a href="#" class="w3-bar-item w3-button w3-round-large topbaritem" >Transporte terrestre</a>
            <a href="#" class="w3-bar-item w3-button topbaritem" >Flete Marítimo</a>
            <a href="#" class="w3-bar-item w3-button topbaritem" >Flete Aéreo</a>
            <a href="#" class="w3-bar-item w3-button w3-round-large topbaritem">Otros Servicios</a>
          </div>
      </div>
      <div class="w3-dropdown-hover w3-hide-small">
        <a href="#" class="w3-button w3-hide-small topbaritem" style ="padding-top: 20px;"><b> DEPARTAMENTOS</b> <i class="fa fa-caret-down"></i></a>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-round-large">
            <a href="#" class="w3-bar-item w3-button w3-round-large topbaritem" >Importación</a>
            <a href="#" class="w3-bar-item w3-button topbaritem" >Exportación</a>
            <a href="#" class="w3-bar-item w3-button w3-round-large topbaritem">Contabilidad</a>
          </div>
      </div>
      <a href="#contact" class="w3-bar-item w3-button"><button class="w3-button w3-round-large w3-white contact-button">Contáctenos</button></a>
      <button class="w3-button over-navbar-button" style = "font-family: Open-Sans;"><img src="{% static 'mainsite/images/icons/colombia.png' %}" style="height: 20px">ES<i class="fa fa-caret-down"></i></button>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>


  {% block content %}{% endblock %}






  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32" style = "color :white; background-color: #1B4A7D;">
    <div class="w3-third">
      <a href="#" class="w3-bar-item w3-button"><img src = "{% static 'mainsite/images/Logo-white.png' %}" width="300" id="toplogo" /></a>
      <h3 style = "font-family: Roboto-Bold;">Contáctanos:</h3>
      <p style = "margin-bottom: 0; display: inline;">(+ 57) 310 - 424 9299</p>
      <p>(+ 57) 316 - 521 9867</p>
      
    </div>
  
    <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Lorem</span><br>
          <span>Sed mattis nunc</span>
        </li>
        <li class="w3-padding-16">
          <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Ipsum</span><br>
          <span>Praes tinci sed</span>
        </li> 
      </ul>
    </div>

    <div class="w3-third w3-serif semitransparent-image-behind-text">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dinner</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Salmon</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">France</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flavors</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chicken</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dressing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
      </p>
    </div>
  </footer>


    

  
  </body>


</html>