{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    @font-face {
        font-family: "Roboto-Regular";
        src: url("{% static 'mainsite/fonts/Roboto-Regular.ttf' %}") format("truetype");
    }

    @font-face {
        font-family: "Roboto-Bold";
        src: url("{% static 'mainsite/fonts/Roboto-Bold.ttf' %}") format("truetype");
    }

    @font-face {
        font-family: "Raleway-Bold";
        src: url("{% static 'mainsite/fonts/Raleway-Bold.ttf' %}") format("truetype");
    }

    @font-face {
        font-family: "Raleway-Regular";
        src: url("{% static 'mainsite/fonts/Raleway-Regular.ttf' %}") format("truetype");
    }

    @font-face {
        font-family: "Open-Sans-Bold";
        src: url("{% static 'mainsite/fonts/OpenSans-Bold.ttf' %}") format("truetype");
    }


    .image-container {
        position: relative;
        width: 100%;
        height: 100%;
        /* adjust as needed */
    }

    .image-container img {
        width: 100%;
        height: 100%;
    }

    .image-container .overlay-text {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        color: #fff;
        /* adjust as needed */
    }

    .mivicontainer {
        display: flex;
        justify-content: space-between;
    }

    .rectangle {
        width: 600px;
        /* adjust as needed */
        height: 100px;
        /* adjust as needed */
        background-color: #ccc;
        /* adjust as needed */
        margin-bottom: 10px;
        /* adjust as needed */
        overflow: hidden;
        transition: height 0.5s;
    }

    .rectangle:hover {
        height: 300px;
        /* adjust as needed */

    }



    .rectangle:hover p {
        opacity: 1 !important;
    }

    .image-mivicontainer video {
        width: 40%;
        /* adjust as needed */
    }

    .space-background {
        background-image: url("{% static 'mainsite/images/space1.png' %}");
        background-size: cover;
        background-repeat: no-repeat;

    }

    .services-button {
        color: white;
        background-color: #4FB4E6;
    }
</style>

<div class="image-container" style="z-index: -1;">
    <img src="{% static 'mainsite/images/horboat.png' %}" alt="header image of a boat">
    <div class="overlay-text">
        <p
            style="font-family: 'Raleway-Bold'; font-size: 65px; margin-top: 0px; margin-bottom: 0px; text-decoration: underline; line-height: 1;">
            ¿QUIENES SOMOS?</p>
        <p style="font-family: 'Roboto-Regular'; font-size: 30px; ">¡Bienvenido a EUROCARGA!</p>
        <button class="w3-button w3-round-xlarge services-button"
            style="padding: 15px 30px; font-family: Open-Sans-Bold; font-size: 20px;">Nuestro Equipo</button>
        <span style="margin-left: 40px; font-family: Open-Sans-Bold; font-size: 20px;">Oficinas</span>
    </div>
</div>

<div style="display: flex; align-items: center;">
    <img src="{% static 'mainsite/images/imagebox.png' %}" alt="Man carrying box" style="height: 500px;">
    <div style="padding: 5%; font-size: 20px; font-family: Raleway-Regular;">
        <p style="color: #417FC2;"><strong>Somos tu agencia de carga internacional</strong>, especializados en
            simplificar y optimizar operaciones logísticas a nivel global.
        </p>
        <p style="font-family: Roboto-Regular;">Con años de experiencia, ofrecemos soluciones eficientes y seguras para
            tus
            exportaciones e importaciones. Sé parte de nuestros clientes satisfechos que confían
            en nuestra experiencia y red global</p>
    </div>
</div>
<div style="display: flex; align-items: center;">
    <hr style="flex-grow: 1; border: none; border-top: 5px solid rgb(187, 184, 184);">
    <p style="margin: 0 20px; font-size: 40px;color: #1B4A7D;">Conoce nuestros Valores Corporativos</p>
    <hr style="flex-grow: 1; border: none; border-top: 5px solid rgb(187, 184, 184);">
</div>

<div class="space-background">
    <div class="container" style="display: flex;  justify-content: space-between;  padding: 100px;">

        <img src="{% static 'mainsite/images/values-image.png' %}" alt="Image 1" style="width: 100%;">

    </div>

    <div class="mivicontainer">
        <div>
            <div class="rectangle">
                <div style="display: flex; align-items: center;  padding: 4%; padding-bottom: 0;">
                    <img style="width: 10%;" src="{% static 'mainsite/images/mision.png' %}" alt="Image mision">
                    <p style="color: white; margin-left: 10px;">Misión</p>
                </div>
                <p style=" opacity: 0; transition: opacity 0.5s;  padding: 4%;  padding-top: 0;color:white">Sostener un
                    servicio íntegro
                    y superior
                    de
                    agenciamiento en transporte de
                    carga internacional, administrar los procesos logísticos con responsabilidad y
                    seguridad, orientados en la satisfacción de nuestros clientes y al éxito de sus
                    negocios, con una alta calidad en los procesos, enfocados hacia la eficiencia,
                    productividad y rentabilidad tanto de importaciones, exportaciones y aliados
                    clientes como de nuestra compañía, de acuerdo a tiempos pactados.
                </p>
            </div>
            <div class="rectangle">
                <div style="display: flex; align-items: center; padding: 4%; padding-bottom: 0;">
                    <img style="width: 10%; " src="{% static 'mainsite/images/vision.png' %}" alt="Image mision">
                    <p style="color: white; margin-left: 10px; ">Visión</p>
                </div>

                <p style=" opacity: 0; transition: opacity 0.5s;  padding: 4%;  padding-top: 0; color:white">vision
                    vision vision vision
                    vision
                    vision vision
                    vision vision vision vision vision vision vision vision vision vision vision vision vision vision
                    vision vision vision vision vision
                </p>
            </div>
            <div class="rectangle">
                <div style="display: flex; align-items: center;  padding: 4%; padding-bottom: 0;">
                    <img style="width: 10%;" src="{% static 'mainsite/images/Objetivos.png' %}" alt="Image mision">
                    <p style="color: white; margin-left: 10px;">Objetivos</p>
                </div>

                <p style=" opacity: 0; transition: opacity 0.5s;padding: 4%; padding-top: 0; color:white">Objetivo
                    Objetivo Objetivo
                    Objetivo Objetivo Objetivo
                    Objetivo Objetivo Objetivo Objetivo Objetivo Objetivo Objetivo Objetivo Objetivo Objetivo Objetivo
                    Objetivo Objetivo Objetivo Objetivo Objetivo Objetivo Objetivo Objetivo Objetivo Objetivo Objetivo
                    Objetivo
            </div>
        </div>
        <div class="miviimage-container">
            <video autoplay loop id="vid" muted width="100%">
                <source src="{% static 'mainsite/videos/half-earth.mp4' %}" type="video/mp4">
            </video>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div style="padding-left: 10%;">
        <strong>
            <p style="color: #1B4A7D; font-size: 30px; ">En EUROCARGA, lideramos la logística internacional
            </p>
            <p style="color: #1B4A7D; font-size: 30px; ">con calidad y confiabilidad.</p>
        </strong>
    </div>


    <div style="position: relative;">
        <img src="{% static 'mainsite/images/truck.png' %}" alt="A truck" style="width: 100%;">
        <div style="position: absolute; top: 0%; left: 75%;">
            <p style=" font-size: 40px;">Desde <span style="color: #1B4A7D;">1983</span></p>
            <p style="font-size: 20px; font-family: Roboto-Regular;"><span style="color: #1B4A7D;">EUROCARGA </span>ha
                sido un pilar confiable en la logística de Bogotá, Colombia.
                Con décadas de experiencia, nos destacamos en exportación e importación,
                construyendo relaciones sólidas en todo el mundo.
            </p>
            <p style="font-size: 20px; font-family: Roboto-Regular;">Nuestra
                presencia a largo plazo refleja
                nuestro compromiso con la excelencia
                y la satisfacción del cliente.
            </p>
        </div>

    </div>
</div>
{% endblock %}