{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    .video-container {
        position: relative;
    }

    .overlay-text {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 1;
    }

    .services-button {
        color: white;
        background-color: #4FB4E6;
    }

    @font-face {
        font-family: "Roboto-Regular";
        src: url("{% static 'mainsite/fonts/Roboto-Regular.ttf' %}") format("truetype");
    }

    @font-face {
        font-family: "Roboto-Bold";
        src: url("{% static 'mainsite/fonts/Roboto-Bold.ttf' %}") format("truetype");
    }

    @font-face {
        font-family: "Raleway-Bold";
        src: url("{% static 'mainsite/fonts/Raleway-Bold.ttf' %}") format("truetype");
    }

    @font-face {
        font-family: "Raleway-Regular";
        src: url("{% static 'mainsite/fonts/Raleway-Regular.ttf' %}") format("truetype");
    }

    @font-face {
        font-family: "Open-Sans-Bold";
        src: url("{% static 'mainsite/fonts/OpenSans-Bold.ttf' %}") format("truetype");
    }

    .container {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .container1 {
        background-color: white;

        justify-content: space-between;
        align-items: center;

    }

    .text p {
        font-family: 'Roboto-Regular';
        font-size: 22px;
    }

    .image1 {
        flex: 1;
    }

    .image1 img {
        width: 100%;
        /* adjust as needed */

    }

    .shadow-button {
        color: #1B4A7D;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        font-family: 'Open-Sans-Bold';
    }

    .open-sans {
        font-family: 'Open-Sans';
        color: white;

    }


    .centered-button {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
    }

    .services-container {
        display: flex;
    }

    .image-container {
        position: relative;
        width: 25%;
        /* adjust as needed */
    }

    .image-container img {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .hover-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
    }

    .image-container:hover .hover-text {
        visibility: visible;
    }

    .image-container img:hover {
        filter: blur(8px);
    }
</style>
<div class="video-container" style="margin-bottom: 0;  position: relative;  z-index: -1;">
    <video autoplay loop id="vid" muted width="100%">
        <source src="{% static 'mainsite/videos/mainvideo.mp4' %}" type="video/mp4">
    </video>
    <div class="overlay-text">
        <p style="font-family: 'Raleway-Bold'; font-size: 80px; margin-bottom: 0px; line-height: 1;">AGENCIA DE CARGA
        </p>
        <p
            style="font-family: 'Raleway-Bold'; font-size: 91px; margin-top: 0px; margin-bottom: 0px; text-decoration: underline; line-height: 1;">
            INTERNACIONAL</p>
        <p style="font-family: 'Roboto-Regular'; font-size: 42px; ">CONECTANDO DESTINOS, ENTREGANDO PROMESAS</p>
        <button class="w3-button w3-round-xlarge services-button" style="padding: 15px 30px;">Ver Servicios</button>
    </div>
    <div style="position: absolute; bottom: 10%; right: 10%; z-index: 1; display: flex; flex-direction: column;">
        <i class="fa fa-facebook fa-inverse fa-2x" style="margin-bottom: 20px;"></i>
        <i class="fa fa-instagram fa-inverse fa-2x" style="margin-bottom: 20px;"></i>
        <i class="fa fa-linkedin-square fa-inverse fa-2x"></i>
    </div>
</div>
<div style="padding: 7%;">
    <div class="container1"
        style="display: flex; justify-content: space-between; align-items: center; margin-bottom: -20px; font-family: 'Roboto-Regular'; font-size: 22px;">
        <div>
            <p style="margin-bottom: 0px;">Nos encargamos de que el transporte de tus mercancías sea más que una simple
                entrega.</p>
            <p style="margin-top: 0px;">Somos tu socio logístico de confianza, listos para llevar tu negocio al
                siguiente nivel.</p>
        </div>
        <img src="{% static 'mainsite/images/40anos.png' %}" alt="Your image description" style="width: 20%;">
    </div>
    <div class="container" style="margin-top: -20; display: flex;">
        <div class="text" style="flex: 1;">
            <p style="font-family: 'Raleway-Bold'; font-size: 50px;">¿Por qué <span
                    style="color: #1B4A7D;">elegirnos?</span></p>
            <p>Porque no solo movemos cargas, movemos <span style="color: #417FC2;">tu éxito.</span>
                Con un equipo experimentado hacemos que la logística sea
                simple, eficiente y adaptada a tus necesidades.</p>
            <p>Nos destacamos por nuestra dedicación a la seguridad, la
                transparencia y la satisfacción del cliente.
                En Eurocarga, no solo entregamos productos, entregamos
                confianza.
            </p>
            <a href="#contact" class="w3-bar-item w3-button">
                <button
                    class="w3-button w3-round-large w3-white shadow-button border: 2px solid black; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">Nuestro
                    Equipo</button>
            </a>
        </div>
        <div class="image1">
            <img src="{% static 'mainsite/images/1.png' %}" style="width: 100%;">
        </div>
    </div>
    <div
        style="margin-bottom: -20px; font-family: 'Raleway-Bold'; font-size: 35px; display: flex; justify-content: center; align-items: center; color:#417FC2;">
        <p style="margin-bottom: 0px;">¡Haz que tu cadena de suministro sea imparable con nosotros!</p>
    </div>



</div>

<div style="display: flex; justify-content: space-between; background-color: #1B4A7D;">
    <div class="blue-rectangle"></div>
    <div class="text-container">
        <br><br><br><br>
        <p style="font-family: 'Raleway-Regular'; color: white; font-size: 20px;">Descubre como podemos optimizar tu
            cadena de suministro.</p>
        <p style="font-family: 'Raleway-Bold'; color: white; font-size: 20px;">¡Contáctanos hoy para una cotización
            personalizada y sin compromiso!</p>
    </div>
    <div class="image" style="position: relative; margin-left: 0px;">
        <img src="{% static 'mainsite/images/cargoplane.png' %}" alt="Your image description">
        <button style="font-family: 'Open-Sans-Bold'; color:#1B4A7D"
            class="w3-padding-large centered-button w3-round-xlarge w3-xlarge w3-border-white">¡Inicia tu
            Envío!</button>
    </div>
</div>
<div
    style="margin-top: 50px; font-family: 'Roboto-Bold'; font-size: 45px; display: flex; justify-content: center; align-items: center; color:#1B4A7D;">
    <p">Nuestros servicios</p>
</div>


<div class="services-container">
    <div class="image-container">
        <img src="{% static 'mainsite/images/6.png' %}" alt="Image 1">
        <span class="hover-text">Text for Image 1</span>
    </div>
    <div class="image-container">
        <img src="{% static 'mainsite/images/7.png' %}" alt="Image 2">
        <span class="hover-text">Text for Image 2</span>
    </div>
    <div class="image-container">
        <img src="{% static 'mainsite/images/8.png' %}" alt="Image 3">
        <span class="hover-text">Text for Image 3</span>
    </div>
    <div class="image-container">
        <img src="{% static 'mainsite/images/9.png' %}" alt="Image 4">
        <span class="hover-text">Text for Image 4</span>
    </div>
</div>

<div class="services-container" style="display: flex; justify-content: space-between; padding-left: 5%;">
    <div style="display: flex; align-items: center;">
        <img style="width: 40%;" src="{% static 'mainsite/images/clientes.png' %}" alt="Image 1">
        <div>
            <p style="color:#429BFF; font-size: 30px; margin-bottom: 0px;">+ 09</p>
            <p style="color:#666666; font-size: 20px; margin-bottom: 0px; margin-top: 0px;">Clientes</p>
            <p style="color:#666666; font-size: 20px; margin-top: 0px;">satisfechos</p>
        </div>
    </div>
    <div style="display: flex; align-items: center;">
        <img style="width: 40%;" src="{% static 'mainsite/images/envios.png' %}" alt="Image 2">
        <div>
            <p style="color:#429BFF; font-size: 30px; margin-bottom: 0px;">+ 124</p>
            <p style="color:#666666; font-size: 20px; margin-bottom: 0px; margin-top: 0px;">Envíos</p>
            <p style="color:#666666; font-size: 20px; margin-top: 0px;">realizados</p>
        </div>
    </div>
    <div style="display: flex; align-items: center;">
        <img style="width: 40%;" src="{% static 'mainsite/images/alianzas.png' %}" alt="Image 3">
        <div>
            <p style="color:#429BFF; font-size: 30px; margin-bottom: 0px;">+ 40</p>
            <p style="color:#666666; font-size: 20px; margin-bottom: 0px; margin-top: 0px;">Alianzas</p>
            <p style="color:#666666; font-size: 20px; margin-top: 0px;">estratégicas</p>
        </div>
    </div>
    <div style="display: flex; align-items: center;">
        <img style="width: 40%;" src="{% static 'mainsite/images/destinos.png' %}" alt="Image 4">
        <div>
            <p style="color:#429BFF; font-size: 30px; margin-bottom: 0px;">+ 15</p>
            <p style="color:#666666; font-size: 20px; margin-bottom: 0px; margin-top: 0px;">Destinos</p>
            <p style="color:#666666; font-size: 20px; margin-top: 0px;">alcanzados</p>
        </div>
    </div>
</div>

{% endblock %}