{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    .image-container {
        position: relative;
        width: 100%;
        height: 100%;
        /* adjust as needed */
    }

    .image-container img {
        width: 100%;
        height: 100%;
    }

    .image-container .overlay-text {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        color: #fff;
        /* adjust as needed */
    }

    @font-face {
        font-family: "Roboto-Regular";
        src: url("{% static 'mainsite/fonts/Roboto-Regular.ttf' %}") format("truetype");
    }

    @font-face {
        font-family: "Roboto-Bold";
        src: url("{% static 'mainsite/fonts/Roboto-Bold.ttf' %}") format("truetype");
    }

    @font-face {
        font-family: "Raleway-Bold";
        src: url("{% static 'mainsite/fonts/Raleway-Bold.ttf' %}") format("truetype");
    }

    @font-face {
        font-family: "Raleway-Regular";
        src: url("{% static 'mainsite/fonts/Raleway-Regular.ttf' %}") format("truetype");
    }

    @font-face {
        font-family: "Open-Sans-Bold";
        src: url("{% static 'mainsite/fonts/OpenSans-Bold.ttf' %}") format("truetype");
    }

    .services-button {
        margin-top: 5%;
        color: white;
        background-color: #4FB4E6;
    }
</style>
<div class="image-container" style="z-index: -1;">
    <img src="{% static 'mainsite/images/horboat.png' %}" alt="header image of a boat">
    <div class="overlay-text">
        <p style="font-family: 'Raleway-Bold'; font-size: 80px; margin-bottom: 0px; line-height: 1;">NUESTROS
        </p>
        <p
            style="font-family: 'Raleway-Bold'; font-size: 91px; margin-top: 0px; margin-bottom: 0px; text-decoration: underline; line-height: 1;">
            SERVICIOS</p>
        <button class="w3-button w3-round-xlarge services-button"
            style="padding: 15px 30px; font-family: Open-Sans-Bold; font-size: 20px;">Obtener Cotización</button>

    </div>
</div>
<div style="display: flex; justify-content: space-between;">
    <img style="width: 25%;" src="{% static 'mainsite/images/services/land_trans_btn.png' %}" onclick="changeDivs(1)"
        alt="Land Transportation Image">
    <img style="width: 25%;" src="{% static 'mainsite/images/services/air_trans_btn.png' %}" onclick="changeDivs(2)"
        alt="Air Transportation Image">
    <img style="width: 25%;" src="{% static 'mainsite/images/services/sea_trans_btn.png' %}" onclick="changeDivs(3)"
        alt="Sea Transportation Image">
    <img style="width: 25%;" src="{% static 'mainsite/images/services/other_trans_btn.png' %}" onclick="changeDivs(0)"
        alt="Other Transportation Image">
</div>

<div class="mySlides w3-container w3-animate-right" style="display: flex; justify-content: space-between;">
    <div style="display: flex; justify-content: space-between;">
        <div style="width: 60%;">

            <p style="font-size: large;">Confía en nosotros para simplificar tus operaciones
                logísticas y llevar tus productos a todo el mundo.</p>

            <div style="padding-left: 10%; padding-top: 7%;">
                <p style="font-size: xx-large;">¡Ofrecemos soluciones!</p>
                <p>En Eurocarga, nos especializamos en ofrecer soluciones de transporte terrestre
                    confiables y eficientes para tus necesidades logísticas.
                </p>
                <p>Con una amplia flota de vehículos modernos y un equipo altamente capacitado,
                    garantizamos entregas seguras y puntuales en cada envío. Desde cargas pequeñas
                    hasta cargas pesadas, nuestro servicio de transporte terrestre cubre una amplia
                    gama de rutas y destinos, brindándote la flexibilidad y tranquilidad que necesitas
                    para llevar tu carga a su destino final.</p>
                <a href="#" class="w3-bar-item w3-button">
                    <button
                        class="w3-button w3-round-large w3-white shadow-button border: 2px solid black; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">Solicitar
                        servicio</button>
                </a>
            </div>
        </div>
        <img style="width: 40%;" src="{% static 'mainsite/images/services/blue_truck.png' %}" alt="Blue Truck">
    </div>
    <div style="display: flex; justify-content: space-between; padding: 7%;">
        <div style="width: 33%;  padding: 7%;">
            <img src="{% static 'mainsite/images/services/punct.png' %}" alt="header image of a boat">
            <p>Nuestro servicio se distingue
                por su puntualidad, asegurando
                entregas a tiempo en cada envío</p>
        </div>
        <div style="width: 33%; padding: 7%;">
            <img src="{% static 'mainsite/images/services/security.png' %}" alt="header image of a boat">
            <p>Priorizamos la seguridad en cada
                paso del proceso de transporte,
                garantizando la integridad de tu
                carga en todo momento

            </p>
        </div>
        <div style="width: 33%; padding: 7%;">
            <img src="{% static 'mainsite/images/services/geo.png' %}" alt="header image of a boat">
            <p>Nuestra extensa red de rutas nos
                permite llegar a destinos remotos
                con facilidad, brindándote acceso
                a una cobertura geográfica
                completa
            </p>
        </div>
    </div>

    <divv style="display: flex; justify-content: space-between;">
        <img style=" width: 50%;" src="{% static 'mainsite/images/services/blue_truck2.png' %}" alt="Image 1">
        <div>
            <p>Servicios especializados</p>
            <ul style="font-size: 18px; font-family: Open-Sans-Regular;">
                <li class="custom-list-item">Transporte Terrestre de Cargas Nacionalizadas
                </li>
                <li class="custom-list-item">Transportes de carga extra dimensionada</li>
                <li class="custom-list-item">Operación terrestre multimodal (OTM)</li>
                <li class="custom-list-item">Despacho por tránsito aduanero (DTA)</li>
                <li class="custom-list-item">Transporte de contenedores</li>
                <li class="custom-list-item">Transporte Refrigerado
                </li>
                <li class="custom-list-item">Consolidación de carga
                </li>
                <li class="custom-list-item">LTL consolidado</li>
                <li class="custom-list-item">Intermodal</li>
                <li class="custom-list-item">A granel
                </li>
                <li class="custom-list-item">FTL</li>
            </ul>
        </div>


</div>

</div>

<div class="mySlides w3-container w3-animate-right" style="display: flex; justify-content: space-between;">
    <div style="display: flex; justify-content: space-between;">
        <img style="width: 40%;" src="{% static 'mainsite/images/services/plane.png' %}" alt="Plane Image">
        <div style="width: 60%; text-align: right;">

            <p>Alcance global en tus manos</p>
            <p>Nuestro servicio de flete aéreo te ofrece la velocidad, confiabilidad y
                alcance global que necesitas para llevar tus envíos a nuevas alturas.
            </p>
            <p>Desde entregas urgentes hasta envíos internacionales, nuestro equipo
                experto se encarga de cada detalle, garantizando que tu carga llegue a su
                destino final de manera segura y puntual. Confía en Eurocarga para tus
                necesidades de transporte aéreo en importación y exportación.
                Descubre cómo podemos hacer despegar tu negocio
            </p>
            <a href="#" class="w3-bar-item w3-button">
                <button
                    class="w3-button w3-round-large w3-white shadow-button border: 2px solid black; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">Solicitar
                    servicio</button>
            </a>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between;">

        <p>
            Con aliados de confianza las
            tarifas competitivas son
            nuestra garantía
        </p>


        <img style="width: 40%;" src="{% static 'mainsite/images/services/plane_front.png' %}" alt="Plane Image">
    </div>

    <div style="display: flex; justify-content: space-between;">
        <div>
            <p>
                Con Eurocarga,
            </p>
            <p>
                El cielo no es el límite: es solo
                el comienzo de tu éxito
            </p>
            <a href="#" class="w3-bar-item w3-button">
                <button
                    class="w3-button w3-round-large w3-white shadow-button border: 2px solid black; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">Comienza
                    ahora</button>
            </a>

        </div>
        <div>
            <p>Servicios especializados</p>
            <ul style="font-size: 18px; font-family: Open-Sans-Regular;">
                <li class="custom-list-item">Logística especial para mercancía peligrosa
                </li>
                <li class="custom-list-item">Transporte de carga Sobredimensionada</li>
                <li class="custom-list-item">Transporte de cargas refrigeradas
                </li>
                <li class="custom-list-item">Intermodal / multimodal</li>
                <li class="custom-list-item">Consolidación de carga</li>

            </ul>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div style="display: flex; justify-content: space-between;">
            <img style="width: 30%;" src="{% static 'mainsite/images/services/trans_rapido.png' %}" alt="Plane Image">
            <div>
                <p>
                    Tránsitos rápidos
                </p>
                <p>
                    Nuestro flete aéreo garantiza
                    entregas rápidas, minimizando
                    los tiempos de espera y
                    satisfaciendo las necesidades
                    de entrega urgente

                </p>
            </div>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <img style="width: 30%;" src="{% static 'mainsite/images/services/seguridad.png' %}" alt="Plane Image">
            <div>
                <p>
                    Seguridad
                </p>
                <p>
                    Priorizamos la seguridad de tu
                    carga, con estrictos controles y
                    monitoreo constante durante
                    todo el proceso de envío


                </p>
            </div>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <img style="width: 30%;" src="{% static 'mainsite/images/services/flexibilidad.png' %}" alt="Plane Image">
            <div>
                <p>
                    Flexibilidad Adaptada

                </p>
                <p>
                    Ofrecemos opciones de vuelos y
                    rutas flexibles para adaptarnos a
                    tus necesidades, permitiéndote
                    cumplir con los plazos de
                    entrega de manera eficaz


                </p>
            </div>
        </div>
    </div>

</div>


<div class="mySlides w3-container w3-xlarge w3-white w3-card-4 w3-animate-right">
    <div style="display: flex; justify-content: space-between;">
        <img style="width: 40%;" src="{% static 'mainsite/images/services/boat.png' %}" alt="Boat Image">
        <div style="width: 60%; text-align: right;">

            <p>Tu carga navegará hacia el éxito</p>
            <p>Desde contenedores completos hasta carga consolidada, nuestra
                amplia red de rutas y asociaciones estratégicas garantiza que tu carga
                llegue a su destino de manera eficiente y sin contratiempos.
            </p>
            <p>Confía en nosotros para simplificar tus importaciones o exportaciones
                marítimas y llevar tu negocio a nuevas fronteras.

            </p>
            <a href="#" class="w3-bar-item w3-button">
                <button
                    class="w3-button w3-round-large w3-white shadow-button border: 2px solid black; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">Solicitar
                    servicio</button>
            </a>
        </div>
    </div>
</div>

<div class="mySlides w3-container w3-xlarge w3-white w3-card-4 w3-animate-right">
    <div style="display: flex; justify-content: space-between;">
        <img style="width: 40%;" src="{% static 'mainsite/images/services/other_services.png' %}" alt="Arms Image">
        <div style="width: 60%; text-align: right;">

            <p>Otros Servicios</p>
            <p>Descubre nuestra amplia gama de servicios de logística y aduanales.
                Ofrecemos soluciones integrales para tus necesidades de envío.
                ¡Confía en nosotros para simplificar tus operaciones logísticas y llevar
                tu carga a cualquier parte del mundo con eficiencia y profesionalismo!
            </p>

        </div>
    </div>
</div>

<div>
    <p style="text-align: center;">Tipos de Carga</p>

    <div>
        <div class="CargoSlides w3-container w3-animate-right;" style="display: flex; justify-content: space-between;">
            <div
                style="display: flex; justify-content: space-between; margin-left: 25%; margin-right: 25%; padding-top: 2%; padding-bottom: 2%; border: 4px solid lightblue;">
                <img style="width: 30%; position: relative; left: -100px;"
                    src="{% static 'mainsite/images/services/carga_general.png' %}" alt="Plane Image">
                <div>
                    <p>
                        CARGA GENERAL

                    </p>
                    <p>
                        Desde textiles hasta productos
                        electrónicos, nuestra capacidad de
                        transporte de carga general abarca una
                        amplia variedad de mercancías no
                        especializadas, ofreciendo soluciones
                        logísticas flexibles para tus necesidades
                        de envío estándar.


                    </p>
                    <p>
                        CONOCE TU TIPO DE CARGA

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="CargoSlides w3-container w3-animate-right;" style="display: flex; justify-content: space-between;">

            <div
                style="display: flex; justify-content: space-between; margin-left: 25%; margin-right: 25%; padding-top: 2%; padding-bottom: 2%; border: 4px solid lightblue;">
                <img style="width: 30%; position: relative; left: -100px;"
                    src="{% static 'mainsite/images/services/oversize.png' %}" alt="Oversize Image">
                <div>
                    <p>
                        CARGA PESADA/OVERSIZE

                    </p>
                    <p>
                        Con nuestra experiencia en el transporte
                        de carga pesada y de gran tamaño,
                        podemos manejar eficientemente
                        productos de dimensiones y pesos
                        excepcionales, proporcionando
                        soluciones de transporte adaptadas a
                        tus necesidades específicas.



                    </p>
                    <p>
                        CONOCE TU TIPO DE CARGA

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="CargoSlides w3-container w3-animate-right;" style="display: flex; justify-content: space-between;">
            <div
                style="display: flex; justify-content: space-between; margin-left: 25%; margin-right: 25%; padding-top: 2%; padding-bottom: 2%; border: 4px solid lightblue;">
                <img style="width: 30%; position: relative; left: -100px;"
                    src="{% static 'mainsite/images/services/danger_cargo.png' %}" alt="Danger Image">
                <div>
                    <p>
                        CARGA PELIGROSA

                    </p>
                    <p>
                        Nuestro equipo especializado en carga peligrosa
                        garantiza el transporte seguro y conforme de
                        productos químicos, materiales inflamables y
                        otros productos clasificados como peligrosos,
                        cumpliendo con los más altos estándares de
                        seguridad y normativas internacionales.



                    </p>
                    <p>
                        CONOCE TU TIPO DE CARGA

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);


    function changeDivs(n) {
        showDivs(slideIndex = n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");

        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }

        x[slideIndex - 1].style.display = "block";

    }

    var cargoslideIndex = 1;
    showCargoDivs(cargoslideIndex);

    function plusCargoDivs(n) {
        showCargoDivs(cargoslideIndex += n);
    }

    function lessCargoDivs(n) {
        showCargoDivs(cargoslideIndex -= n);
    }


    function currentCargoDiv(n) {
        showCargoDivs(cargoslideIndex = n);
    }
    function showCargoDivs(n) {
        var i;
        var x = document.getElementsByClassName("CargoSlides");

        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }

        x[slideIndex - 1].style.display = "block";

    }
</script>
{% endblock %}